.app_dark_theme {
    --bg-color: #1E1E1E;;
    --inverted-bg-color: #e8e8ea;

    --border-color: #444444;

    --primary-color: #FFFFFF;
    --secondary-color: #547AC5;

    --controls-color: #868686;
}
