.Card {
    border: 1 solid var(--border-color);
    border-radius: 5px;
    margin: 0;

    width: var(--photo-size);
    height: 232px;
}

.title {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--primary-color);
    font-weight: 400;
    font-family: 'Montserrat';
}

.price {
    color: var(--secondary-color);
    font-weight: 700;
    font-family: 'Montserrat-Bold';
}

.thumbGood {
    height: var(--photo-size);
    width: var(--photo-size);
    border: 1 solid var(--border-color);
    border-radius: 5px;
}
